.container{
  max-width: 1920px;
}

img{
  width: 100%;
}

.swiper-slide{
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}

.swiper-slide img{
  max-width: 100%;
}