@font-face {
  font-family: "Times_New_Roman_Regular";
  src: url("../fonts/TimesNewRomanPSMT.ttf") format("ttf"), url("../fonts/TimesNewRomanPSMT.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Times_New_Roman_Bold";
  src: url("../fonts/TimesNewRomanPS-BoldMT.ttf") format("ttf"), url("../fonts/TimesNewRomanPS-BoldMT.woff") format("woff");
  font-weight: 600;
}
.avatarIn {
  opacity: 0.5;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.avatarOut {
  cursor: pointer;
}

.avatarOut:hover .avatarIn {
  opacity: 1;
}

.photoIn {
  opacity: 0.5;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.avatarOut:hover .photoIn {
  opacity: 1;
}

.previewDown {
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.previewUp:hover .previewDown {
  opacity: 1;
}

.imgOrderIn {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.avatarOut:hover .imgOrderIn {
  opacity: 0.5;
}

.deletePhoto {
  opacity: 0;
}

.photoBgBlack {
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.photoOut:hover .photoBgBlack {
  opacity: 1;
}

.photoYes {
  opacity: 0;
  cursor: auto;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.photoOut:hover .photoYes {
  opacity: 1;
}

svg {
  width: 100%;
  height: 100%;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 0px;
  fill: transparent;
  stroke: #000;
  border-bottom: 0.75px solid black;
  -webkit-transition: stroke-width 0.75s, stroke-dashoffset 0.75s, stroke-dasharray 0.75s;
  transition: stroke-width 0.75s, stroke-dashoffset 0.75s, stroke-dasharray 0.75s;
  width: 100%;
  height: 100%;
}

.avatarOut:hover .shape {
  stroke-width: 6px;
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
}

#previewPhoto {
  border: 1px solid;
  width: 150px;
  height: 100px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.__select {
  position: relative;
  width: 300px;
  height: 40px;
}
.__select[data-state=active] .__select__title {
  border-bottom: solid 1px #000;
}
.__select[data-state=active] .__select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state=active] .__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}
.__select[data-state=active] .__select__title::before, .__select[data-state=active] .__select__title::after {
  background-color: #000;
}
.__select[data-state=active] .__select__content {
  opacity: 1;
}
.__select[data-state=active] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border-bottom: solid 1px #e5e7eb;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.__select__title::before, .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background-color: #e5e7eb;
  -webkit-transform: translate(-3px, -50%) rotate(45deg);
          transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(-45deg);
          transform: translate(3px, -50%) rotate(-45deg);
}
.__select__title:hover {
  border-color: #000;
}
.__select__title:hover::before, .__select__title:hover::after {
  background-color: #000;
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;
}
.__select__input:checked + label {
  background-color: #dedede;
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  border-top: 0 solid rgba(199, 204, 209, 0.3764705882);
}
.__select__label:hover {
  color: #ffffff;
}